.mainContainer {
  background-color: #7459d9;
  overflow: auto;
}

.contentWrapper { 
  /* Quebra em 2 container */
  background-color: #e6e6f0;
  display: flex;  
  flex-direction: row;  
  width: 100vw;
  height: 100vh;
}

.inputColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  margin:auto;
  overflow: hidden;
}

.promptsContainer {
  /* background-color: #11115f; */
  background-color: #f2f2f7;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  height: 100vh;
  padding: 56px 10px;
  display: flex;
  position: relative;
  overflow-y: auto; /* Habilita o scroll vertical */
  scrollbar-width: thin; /* Para navegadores que suportam */
  scrollbar-color: #bbb transparent;
}

.promptsWrapper {
  /* background-color: aqua; */
  z-index: 0;
  width: 20vw;
  min-width: 240px;
  margin-top: auto;
  margin-bottom: auto;
  font-family:
    DM Sans,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
}

.promptCard {
  background-color: #fff;
  border-radius: 20px;
  width: 18vw;
  height: auto;
  padding: 16px;
  margin-top: 20px;
  box-shadow:
    0 8px 8px #32324714,
    0 8px 16px #3232470f;
}

.promptCard:first-child {
  margin-top: 0px;
}

.promptQuestion {
  color: #11263c;
  font-feature-settings:
    "liga" off,
    "clig" off;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.fakePlaceholder {
  position: absolute;
  top: 8px;
  left: 12px;
  color: gray;
  font-size: 13px;
  pointer-events: none;
  white-space: pre-wrap; /* Permite múltiplas linhas */
  word-wrap: break-word;
  width: 218px;
  line-height: 20px;
  padding: 8px;
}

.promptExample {
  width: 93%;
  min-height: 30px; /* Altura mínima */
  max-height: 150px; /* Define um limite para evitar excesso */
  overflow-y: auto; /* Adiciona rolagem se ultrapassar o limite */
  padding: 8px;
  border: 1px solid #e1e1e5;
  border-radius: 14px;
  font-size: 13px;
  resize: none; /* Impede redimensionamento manual */
}

/* .promptExample {
  color: #2a4057;
  background-color: #fff;
  border: 1px solid #e1e1e5;
  border-radius: 14px;
  display: block;
  flex-wrap: wrap;
  overflow: auto;
  gap: 10px;
  width: 218px;
  height: auto;
  margin-top: 10px;
  padding: 16px;
  font-size: 13px;
  font-weight: 400;
  
  word-wrap: break-word; /* Garante que palavras longas sejam quebradas 
  white-space: normal; /* Permite que o texto quebre automaticamente */
/* } */


.scrollIndicator {
  z-index: 0;
  border-radius: 35px;
  justify-content: start;
  align-self: start;
  align-items: start;
  gap: 10px;
  width: 10px;
  height: 788px;
  min-height: 788px;
  display: flex;
  position: absolute;
  bottom: 56px;
  right: 12px;
}

.scrollThumb {
  background-color: #d8d8e8;
  border-radius: 35px;
  width: 10px;
  min-height: 108px;
  display: flex;
}

.previewColumn {
  flex-direction: column;
  align-items: stretch;
  width: 80vw;
  margin-left: 20px;
  line-height: normal;
  display: flex;
}

.previewContainer {
  background-color: #e6e6f0;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100vh;
  display: flex;
}

.previewContent {
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  height: 70vh;
  min-width: 240px;
  margin-top: auto;
  margin-bottom: auto;
  /* padding: 319px 80px; */
  display: flex;
  overflow: hidden;
}

.previewImage {
  aspect-ratio: 0.96;
  object-fit: contain;
  object-position: center;
  width: 72px;
}

@media (width <= 991px) {
  .contentWrapper {
    max-width: 100%;
  }

  .twoColumnLayout {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .inputColumn {
    width: 100%;
  }

  .previewColumn {
    width: 100%;
  }

  .previewContent {
    padding: 100px 20px;
  }
}
